body {
    font-size: 16px;
    line-height: 3em;
    text-decoration: rebeccapurple;
    font-style: italic;
    text-align: center;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ol {
    background-color: palegoldenrod;
}
.tagul {
    background-color: palegreen;
}
